.inventory {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding-inline: 0.5rem;
}

@media (min-width: 768px) {
    .inventory {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media (min-width: 1024px) {
    .inventory {
        padding-inline: 0;
        grid-template-columns: repeat(4, 1fr);
    }
}